# The hostname of this node.
# Must be resolvable by any configured InfluxDB hosts.
hostname = "localhost"
# Directory for storing a small amount of metadata about the server.
data_dir = "/var/lib/kapacitor"

[http]
  bind-address = ":{{ kapacitor_port }}"
  log-enabled = true

[logging]
  file = "/var/log/kapacitor/kapacitor.log"
  level = "INFO"

[replay]
  # Where to store replay files, aka recordings.
  dir = "/var/lib/kapacitor/replay"

[storage]
  # Where to store the Kapacitor boltdb database
  boltdb = "/var/lib/kapacitor/kapacitor.db"

[[influxdb]]
  enabled = true
  default = true
  name = "localhost"
  urls = ["http://{{ primary_log_server_address }}:8086"]
  username = "root"
  password = "root"
  timeout = 0
